@font-face {
	font-family: 'PublicoText';
	src:url('../otf/publicotext-bold.otf');
	/*src:url('../fonts/ElegantIcons.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ElegantIcons.woff') format('woff'),
		url('../fonts/ElegantIcons.ttf') format('truetype'),
		url('../fonts/ElegantIcons.svg#ElegantIcons') format('svg');*/
	font-weight: normal;
	font-style: normal;
}