#err
  margin: 80px 0 0 0
  text-align: center
  h1
    font-size: 120px
    font-weight: 600
    color: $color2
  p
    color: $color5
    font-weight: 600
    margin: 30px 0
    letter-spacing: 1px
  .btn
    margin-right: 20px
    font-weight: 600
    .fa
      margin-right: 10px
  .errImg
    height: 300px
    overflow: hidden
    margin-top: 80px
    img
      height: 100%
