.newsletter-container {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

.newsletter-grid {
    flex-direction: column;
    margin: 0 20px;
}

.newsletter-grid h2 {
    padding: 0 20px;

}

.newsletter-form {
    flex-direction: row;
    margin: 50px;
    padding-left: 50%;
    position: absolute;

}